@font-face {
    font-family: 'Playlist Script';
    src: url('/themes/bramleys/assets/fonts/PlaylistScript.otf');
}

/* .header-text {
    font-family: 'Playlist Script' !important;
} */

.container {
    max-width: 1180px;
}

.primary-bg-transparent {
    background-color: var(--ap-primary-transparent) !important;
}

#side-menu {
    transition: all 0.2s ease-in-out;
    right: -100%;
}

#side-menu.open {
    right: 0 !important;
}

.mySwiperAbout .swiper-pagination-bullet {
    background-color: var(--ap-secondary) !important;
}

.mySwiperTestimonial .swiper-pagination-bullet {
    background-color: #fff;
}

.swiper-pagination-bullet {
    margin-left: 0.5rem;
    opacity: .5;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.mySwiperProperties .mySwiperPropertiesInnerDetails {
    bottom: -20px;
}

.overlay {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
}

.listings-divider .overlay {
    opacity: .3;
    z-index: unset;
    background-color: #000;
    transition: unset;
}

.overlay-trigger:hover .overlay {
    opacity: 1;
}

.mySwiperProperties .mySwiperPropertiesInnerContainer:hover .mySwiperPropertiesInnerDetails {
    bottom: 3.75rem;
}

#our-top-picks .our-top-picks-text {
    transition: all 0.2s ease-in-out;
}

#our-top-picks .our-top-picks-button {
    transition: all 0.3s ease-in-out;
}


#our-top-picks .overlay-trigger:hover .our-top-picks-text {
    bottom: 12rem;
}

#our-top-picks .overlay-trigger:hover .our-top-picks-button {
    bottom: 7.5rem;
}

#our-top-picks .our-top-picks-button {
    opacity: 0;
}

#our-top-picks .overlay-trigger:hover .our-top-picks-button {
    opacity: 1;
}

@media (min-width: 768px) {
    #accreditations .swiper-slide {
        width: fit-content !important;
    }

    body:not(.development-index) #home-slides h1 {
        font-size: 4.3rem !important;
    }

    .search-content h2 {
        font-size: 2rem !important;
    }
}

@media (min-width: 1024px) {
    .timeline-content-container:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        top: 50%;
        transform: translateY(-50%);
    }

    .timeline-content-container.left:after {
        background: var(--ap-primary);
    }

    .timeline-content-container.right:after {
        background: var(--ap-secondary);
    }

    .about-index #about h1 {
        font-size: 3.5rem !important;
    }
}

.timeline-content-container .timeline-circle {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.timeline-content-container.left .timeline-circle {
    background-color: #fff;
    border: solid 2px var(--ap-primary);
    right: -17px;
}

.timeline-content-container.left .timeline-order-number {
    color: var(--ap-primary);
}

.timeline-content-container.right .timeline-circle {
    background-color: #fff;
    border: solid 2px var(--ap-secondary);
    left: -17px;
}

.timeline-content-container.right .timeline-order-number {
    color: var(--ap-secondary);
}

.home-index #valuation > div > div:nth-of-type(2) {
    background-color: #333;
}

section#accreditations img {
    height: 35px;
    width: auto;
    object-fit: contain;
}

.nav-text-container.active:before, .child-nav-text-container:before {
    content: '';
    position: absolute;
    background-color: var(--ap-secondary);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav-text-container.active:before {
    width: 1.5rem;
    height: 5px;
}

.child-nav-text-container:before {
    width: 0.5rem;
    height: 2px;
}

#bottom-nav .active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: -2px;
    background-color: var(--ap-secondary);
}

#home-advanced-search select.select-carat {
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position: right center;
}

#start-your-property-journey {
    background-attachment: fixed !important;
}

.capitalize-first-letter {
    text-transform: lowercase;
}

.capitalize-first-letter::first-letter {
    text-transform: capitalize;
}

input[type='radio'] {
    visibility: hidden;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    position: absolute;
    background-color: var(--ap-primary);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 3px solid var(--ap-primary);
}

a#site-logo { display: none; }

@media (max-width: 1024px) {
    body.listings-index datalist { width: calc(100% + 2rem) !important; left: -1rem; }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    body.listings-index datalist { width: 26.2rem !important; left: -0.2rem; }
}

@media (min-width: 1280px) {
    body.listings-index datalist { width: 26.2rem !important; left: -0.2rem; }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    body.listings-index datalist { width: 23.5rem !important;}
    body.home-index datalist { top: 2rem !important;}
}

div.vertical-social-share {
    right: -10rem;
}

#back-to-listings-button {
    border-radius: 0.25rem;
}

#map-not-available-fallback {
    padding-top: 5rem;
}

.footer-link {
    color: var(--ap-footer-link);
}

.text-cta {
    color: var(--ap-cta-bg);
}

#get-a-valuation-button, #meet-the-team-button, #our-branches-button, .hover-cta-bg {
    transition: all .3s ease-in-out;
}

#get-a-valuation-button:hover, #meet-the-team-button:hover, #our-branches-button:hover, .hover-cta-bg:hover {
    background-color: var(--ap-cta-bg) !important;
    border-color: var(--ap-cta-bg) !important;
}

#cookie-policy .rounded-full, #gallery-modal .rounded-full {
    border-radius: 0.25rem;
}

div#home-advanced-search {
    background-color: var(--ap-tertiary);
}

form#advanced-search input[type="checkbox"]:checked + label span {
    background-color: var(--ap-cta-bg);
    border: 2px solid #fff;
}

#social-footer .tiktok > svg {
    height: 1.25rem;
}